
.maincontainer{
    div{
        margin: 1em;
    }
    .side-navbar{
        display: inline-block;
        width: 30%;
    }
    .main-content{
        display: inline-block;
        width: 60%;
    }
    
}